body{
    padding: 0%;
    margin: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
#naglowek{
    width: 100%;
    height: 10%;
    background-color: black;
}
#lewa{
   width: 90%;
   height: 70%;
   background-color: gray;
   float: left;
}
#prawa{
width: 10%;
height: 70%;
background-color: red;
float: left;
}
#lewyrog{
    width: 20%;
    height: 20%;
    background-color: black;
    float: left;
}
#dol{
    width: 60%;
    height: 20%;
    background-color: green;
    float: left;
}
#prawyrog{
    width: 20%;
    height: 20%;
    background-color: black;
    float: left;
}
